.temp_shop {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.chat_home {
  width: 700px;
  height: 1000px;
  background-color: antiquewhite;
}

.blank0 {
  width: 50px;
  height: 50px;
}

.chat_home_header {
  display: flex;
  justify-content: flex-end; /* 내용을 오른쪽으로 정렬 */
  align-items: center; /* 세로 방향에서 중앙으로 정렬 (필요한 경우) */
  width: 500px;
  height: 50px;
}
.chat_user {
  width: 600px;
  height: 100px;
}

.chat_home_body {
  display: flex;
  width: 700px;
  height: 1000px;
}

.chat_menubar {
  width: 100px;
  height: 1000px;
  background-color: aqua;
  display: flex;
  flex-direction: column; /* 컨테이너를 세로 방향으로 설정 */
  align-items: center; /* 가로 축 중앙 정렬 */
  justify-content: flex-start; /* 세로 축 시작 지점 정렬 */
}

.chat_menubar_button {
  width: 80px;
  height: 80px;
  margin: 10px 0; /* 버튼 간의 상하 간격 추가 */
}
.chat_profileimg {
  width: 100px;
  height: 100px;
  background-color: beige;
}

.chat_friendlist {
}

.chat_friendbox {
  display: flex;
  width: 600px;
  height: 100px;
  cursor: pointer;
  border: 1px solid black;
  align-items: center; /* 수직 방향으로 가운데 정렬 */
  justify-content: flex-start; /* 수평 방향으로 왼쪽에서 시작 */
}
