.seller_body {
  /* display: flex; 
  justify-content: center; 
  align-items: center;  */
  /* background-color: blue; */
}

.seller_list_body {
  width: 700px;
  height: 100px;
  display: flex;

  background-color: black;
}

.seller_list_body_list {
  width: 800px;
  height: 150px;
  background-color: rgb(153, 136, 114);
  border: 2px solid black;
  display: flex;
}

.seller_img {
  width: 150px;
  height: 150px;
}
